.navbar{
    background-color: white;
    width: 100%;
}
.navbar-brand{
    font-weight: bold;
}
.me-auto {
    position: absolute;
    right: 30px;
}

.me-auto a {
    font-weight: bold;
}

.getStarted {
    border: 2px rgb(175, 173, 173) solid;
    border-radius: 20px;
    font-weight: bold;
}

.getStarted:hover {
    background-color: rgb(179, 176, 176);
}